ul,
li {
  list-style: none;
  padding: 0;
  margin: 0;
}

li {
  margin-bottom: 8px;
  cursor: pointer;
}

header {
  background-color: white;
  padding: 8px;
  color: #fff;
}

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo img {
  mix-blend-mode: multiply;
  height: 80px;
  width: auto;
  margin-right: 16px;
  margin-left: 16px;
}

.menu-icon {
  cursor: pointer;
  color: black;
}

.menu-icon svg {
  font-size: 24px;
}

.menu-list {
  display: flex;
  justify-content: flex-end;
  position: absolute;
  top: 64px; 
  right: 16px;
  background-color: black;
  padding: 8px;
  border: 1px solid #ddd;
  border-radius: 4px;
  z-index: 1;
  opacity: 0;
  pointer-events: none;
  transition: opacity 0.2s ease-in-out;
}

.menu-list.show-dropdowns {
  opacity: 1;
  pointer-events: auto;
} 